<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <!-- start finder_create -->
    <div id="finder_create" class="row center">
      <br>

      <!-- create flashcards -->
      <div class="col s12 m6">
        <a href="/create" id="create-button" class="left btn-large">Create Flashcards!</a>
      </div>

      <!-- search flashcards -->
      <div class="col s12 m6  find-flashcards">

        <div class="col s2" style="height: 3rem;line-height:4rem;">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </div>

        <form class="col s10">
          <div class="input-field">
            <input placeholder="Find Flashcards!" id="first_name" type="text" class="validate">
          </div>
            <!-- input type="submit" value="Submit" -->
        </form>

      </div>

    </div>
    <!-- end finder_create -->

    <!-- start my_cards -->
    <div id="my_cards" class="row center">

      <div class="divider"></div>
      <h5>My Cards!</h5>

      <br>

      <div class="section col s12 m4">
        <div href="#play-flashcards" class="modal-trigger card-panel teal">
          <span class="white-text" name="myCards">My Set 1</span>
        </div>
      </div>

    </div>
    <!-- end my_cards -->

    <!-- start my_favorites -->
    <div id="my_cards" class="row center">

      <div class="divider"></div>
      <h5>My Favorites!</h5>

      <br>

      <div class="section col s12 m4">
        <div href="#play-flashcards" class="modal-trigger card-panel teal">
          <span class="white-text" name="favorite">My Favorite 1</span>
        </div>
      </div>

    </div>
    <!-- end my_favorites -->

    <!-- start browse_subjects -->
    <div id="browse_subjects" class="row center ">

      <div class="divider"></div>
      <h5>Browse Subjects!</h5>

      <br>

      {{#each cats}}
      <div class="section col s12 m4">
        <div href="#display-sets" class="modal-trigger card-panel teal">
        
          <span class="white-text"><a href="/sets">{{ this.cat_name }}</a></span>
        
        </div>
      </div>
      {{/each}}

    </div>
    <!-- end browse_subjects -->

    <br><br>

  </div> <!-- end container -->
</div>



<div id="display-sets" class="modal">
  <div class="modal-content">

    <h5>"(Category Name)" Sets</h5>
    

    <div class="row modal-row view-set" >
    {{#each sets}}
      <div class="col s12 set"><a href="#play-flashcards" value="view-set" class="btn">{{ this.title }}</a></div>
      <p>Created by "(User Name)"</p>
    {{/each}}
    </div>
    

  </div> <!-- end modal content -->
</div> <!-- end display-sets modal -->




<!-- Modal Flashcard Deck Structure -->
<div id="play-flashcards" class="modal">
  <div class="modal-content">

    <h5>Flashcard Title</h5>
    <p>Author</p>

    <div class="row modal-row view-card">
      <div class="col s6 view-card-option" href="/shuffle"><p>SHUFFLE</p></div>

      <div class="col s6 view-card-option" href="/both-sides"><p>SEE BOTH SIDES</p></div>
    </div>

    <div class="row modal-row content-card">
      <!-- front / back / both sides of card appear here -->
    </div>

    <div class="row modal-row controls-card">
      <div class="col s12 flip"><a href="#" value="flip-card" class="btn">FLIP</a></div>
    </div>
    <div class="row modal-row">
      <div class="col s4 previous"><a href="#" value="previous-card" class="btn">PREVIOUS</a></div>
      <div class="col s4 arrows"><i class="fa fa-arrows fa-4x" aria-hidden="true"></i></div>
      <div class="col s4 next"><a href="#" value="next-card" class="btn">NEXT</a></div>
    </div>
    <div class="row modal-row">
      <div class="col s12 flip"><a href="#" value="flip-card" class="btn">FLIP</a></div>
    </div>

    <div class="row modal-row share-card">
      <button class="btn waves-effect waves-light" type="submit" name="share-card">Share Flashcards</button>
      <a href="#" value="share-card" class="waves-effect waves-light btn">Share Flashcards!</a>
    </div>

  </div> <!-- end modal content -->
</div> <!-- end play-flashcards modal -->


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/init.js"></script>

<script type="text/javascript">
  //need to initialize all modals!!!
  $('.modal').modal();

  //on click events for the modals
  $("#modal-create-flashcards").on("click", function(event) {
      $('#modal-create-flashcards').modal('open');
  });
  $("#play-flashcards").on("click", function(event) {
      $('#play-flashcards').modal('open');
  });

</script>
